openapi: 3.0.3
info:
  title: Oxylabs Web Intelligence APIs Login Queries API
  description: Oxylabs provides web scraping and data extraction APIs including the Web Scraper API (Realtime and Push-Pull), the Dashboard API for usage and statistics, and the Residential Public API for sub-user and stats management.
  version: '1.0'
  contact:
    name: Oxylabs Developer Support
    url: https://developers.oxylabs.io/
servers:
- url: https://realtime.oxylabs.io/v1
  description: Web Scraper API - Realtime
- url: https://data.oxylabs.io/v1
  description: Web Scraper API - Push-Pull
- url: https://api.oxylabs.io
  description: Dashboard API
- url: https://residential-api.oxylabs.io/v2
  description: Residential Public API
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Queries
paths:
  /queries:
    post:
      summary: Submit a scraping job
      description: Submit a job to the Web Scraper API. Use the Realtime server to receive results synchronously, or the Push-Pull server to receive results asynchronously via callback or polling.
      operationId: submitQuery
      security:
      - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScrapeRequest'
      responses:
        '200':
          description: Scrape result (Realtime) or job acknowledgement (Push-Pull)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrapeResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      tags:
      - Queries
components:
  schemas:
    ScrapeResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              content:
                type: string
              status_code:
                type: integer
              url:
                type: string
              created_at:
                type: string
                format: date-time
        job:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
    ScrapeRequest:
      type: object
      required:
      - source
      properties:
        source:
          type: string
          description: Target source identifier (e.g., google_search, amazon, universal).
        url:
          type: string
          description: Target URL (used by URL-based sources).
        query:
          type: string
          description: Search query (used by query-based sources).
        render:
          type: string
          description: Set to "html" to render JavaScript with a headless browser.
          enum:
          - html
        parse:
          type: boolean
          description: Return structured parsed result for supported sources.
        geo_location:
          type: string
          description: Geo-targeting location string.
        locale:
          type: string
        user_agent_type:
          type: string
        callback_url:
          type: string
          format: uri
        browser_instructions:
          type: array
          items:
            type: object
        parsing_instructions:
          type: object
        context:
          type: array
          items:
            type: object
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
